.dialog
	%h1
		404 - Not Found
	%p
		Unfortunately, the url you have requested simply doesn't exist. 
	%p
		There are plenty of other things to read in the 
		%a{:href=>'/archive'}Archive
		or maybe just check out the most recent stuff on the 
		%a{:href=>'/'}front page.
