/ BEGIN _month.haml
- if month.posts.size > 0
	.month
		%span.month_name
			=month.start.strftime("%B %Y")
		%ul.posts_in_month
			-posts = month.posts
			-if posts.size > 0
				-posts.each do |post|
					%li
						= link_to post.title, permalink_path_for(post)
			-else
				%li.postless_month
					No posts this month
/ END _month.haml
