@import "bourbon";


ul.admin_header_nav li{
  display:inline;
  list-style-type: none;
  border-left: solid 1px #BBB;
  padding: 0px 1em 0px 1em;
}

/* these need to be moved to a common file */
.default_cursor { cursor:default;}
a.default_cursor { cursor:default;}
.nobr  { white-space:nowrap; }
.block{
	display: inline-block;
}
.left {
	float:left;
}
.right {
	float:right;
}
.center_container{
	float: left;
	position: relative;
	left: 50%;
}
.center{
	float: left;
	position: relative;
	left: -50%; 
}
.error,
.notice{
	width: 100%;
	padding: 0.5em;
	text-align: center;
}
.error{
	background-color: #DA6348;
}
.notice{
	background-color: #DAA448;
}

.goaway {position: absolute; clip: rect(0,0,0,0);}
.clearfix:before, .clearfix:after {content:''; display:table;}
.hide {visibility:hidden; height:1px; clip:rect(0 0 0 0); position:absolute;}
aside {position:relative; display:block;}
input, textarea {outline:none; background:none;}

#footer {
  display: block;
  font-size: 11px;
  margin: 60px 0 30px 0;
  text-align: center;
}



/** DUPLICATED CODE FROM posts.css.scss - REFACTOR ME */

/*    COLORS    */

$body-bg: #fff;
$body-inner-shadow: #eee;
$text-color: #222;
$a-color: #000;
$theme: #b92c2c;
$selection-color: #fff;


/*    ADMIN COLORS    */

::selection, ::-moz-selection {
  background: $theme;
  color: $selection-color;
}

body, textarea, pre, input, li {
  /* These are overwritten if you include one of the /fonts css files */
  font: 15px/1.8em 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

a,
a:visited
a:active {
  color: $a-color;
  text-decoration: none;
  @include transition(color .1s linear);
}

a:hover,
#admin #published h3 a:hover {
  color: $theme !important;
}


/*    H1-H6    */

h1,h2,h3,h4,h5,#text-title * {
  font-weight: normal;
  font-family: 'Open Sans Condensed', Times New Roman, serif;
  line-height: 1.3em;
}

#text-title,
#text-title pre,
#text-title textarea,
h1 {
  font-size: 26px;
  line-height: 1.3em;
}

h1, #text-title {
  margin: 0.67em 0;
}

h1.external {
  font-size: 20px;
}

h2 {
  font-size: 18px;
  text-transform: uppercase;
}

h3 {font-size: 16px;
  text-transform: uppercase;
  color: #666;
}

h2, h3, h4 {
  margin: 2em 0;
}



/* END DUPLICATED CODE */


