ul.admin_header_nav li{
  display:inline;
  list-style-type: none;
  border-left: solid 1px #BBB;
  padding: 0px 1em 0px 1em;
}
/* these need to be moved to a common file */
.nobr  { white-space:nowrap; }
.default_cursor { cursor:default;}
a.default_cursor { cursor:default;}
.center_container{
	float: left;
	position: relative;
	left: 50%;
}
.center{
	float: left;
	position: relative;
	left: -50%; 
}
.error,
.notice{
	width: 100%;
	padding: 0.5em;
	text-align: center;
}
.error{
	background-color: #DA6348;
}
.notice{
	background-color: #DAA448;
}
