/ BEGIN images/_form.html.haml
=form_for :image, :url=>'/images/create', :html=>{:multipart => (@s3_enabled ? true : false), :accept => "image/gif,image/png,image/jpg"} do |f|
	%div
		%label Image
	%div
		%span.image_field_name Title: 
		= f.text_field 'title'
	%div{:style=>"width: 400px"}
		-if @s3_enabled
			%span.image_field_name File:
			= f.file_field 'datafile'
		- else
			%span.image_field_name Url:
			= f.text_field 'url'
	%div
		= f.submit (@s3_enabled ? 'Upload Image' : 'Create Image Link'), :class=>'button'
/ END images/_form.html.haml
