/ BEGIN images/index.html.haml
.row
	.twocol
		#image_preview
	.eightcol
		%h2 
			= "#{@file_count} File#{@images_count != 1 ? 's' : ''} Found"
		.image_upload
			=link_to 'Upload a file', :controller=>:images, :action=>:new
		.images_by_month
			-if @months.size() > 0
				=render :partial=>'month', :collection=>@months, :as=>:month
			- else
				.no_images
					No files uploaded yet. 
	.twocol.last
		/ empty
/ END images/index.html.haml
